@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center landbox">
    <h1 class="display-4">Welcome</h1>
    <h8 class="display-8">
        Click  <a class="" asp-area="" asp-controller="Enquiry" asp-action="UserDetails"> here </a> to see the eligible card
    </h8>
</div>